body{
	font-family: Roboto, sans-serif;
}

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
    color: #ffffff;
}

.reveal h1 {
    text-shadow: none;
	text-transform: inherit;
}

.reveal h2 {
    text-shadow: none;
	text-transform: inherit;
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
    border-right-color: #ffffff;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
    border-left-color: #ffffff;
}

.reveal section img{
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
}

.insp{
	background: #2ecc71;
}

html.something .state-background {
    background-color: rgba(0,0,0, 0.8);
}

html.dimbg .slide-background {
    opacity: 0.2;
}